.hero{
  border-style: solid;
  border-color: black;
  width: 100%;
  height: 42vh;
  position: relative;
  


  &__slider{
    border-style: solid;
    border-color: red;
    img{
      width: 100%;
      height: 50vh;
    }
  }

}