.container {
  border-style: solid;
  border-color: black;
  border-width: thick;
  background-color: #adca1c;
  width: 100%;
  margin-top: -8px;
  // margin: -10px;

  &__wrapper{
      display: flex;
      align-items: flex-start;
      align-content: center;
      border-style: solid;
      border-color: red;
      justify-content: space-between;  
      // padding-right: 20px;
      width: 100%;
  }

  img{
        margin: 20px;
        border-color: blue;
        border-style: solid;
      }

  &__list{
    display: flex;
    list-style: none;
    text-align: center;
    border-style: solid;
    color: aliceblue;
    font-size: large;
    font-weight: bold;
    font-family: cursive;
    text-transform: uppercase;
    padding: 0rem;
    margin-right: 40px;
    

    li{
      margin: 1rem;
    }
  }

  #enquiry{
    background-color: red;
    border-style: solid;
    border-color: red;
  }
  
}
