.body{
  margin: 0%;
}

.container {
  // border-style: solid;
  // border-color: black;
  // border-width: thick;
  background-color: #adca1c;
  width: 100%;
  margin: auto;
  

  &__wrapper {
    display: flex;
    align-items: flex-start;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    
  }

  img {
    margin: 20px;
  }

  &__list {
    display: flex;
    list-style: none;
    text-align: center;
    color: aliceblue;
    font-size: large;
    font-weight: bold;
    font-family: cursive;
    text-transform: uppercase;
    width: auto;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0rem;
 
    li {
      margin: 1rem;
     }
  }

  #enquiry {
    background-color: red;
    border-style: solid;
    border-color: red;
  }
}
